.github/workflows/Finance Thesis.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -112,
        0
      ],
      "id": "7cc7712e-23bb-4e85-93f5-e1fda5e3d898",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://rss.sciencedirect.com/publication/science/0304405X",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        64,
        0
      ],
      "id": "508a07ce-6792-4e9e-907d-6e2b7d8a55d7",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        384,
        0
      ],
      "id": "bca9577e-ce08-4f3b-a21f-5a33b60dde01",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "batching": {}
      },
      "id": "30d4fd76-0990-49a7-953b-6e3e52375e2f",
      "name": "AI Analysis1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        1040,
        112
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "modelName": "models/gemini-robotics-er-1.5-preview",
        "options": {}
      },
      "id": "551061d1-104e-4efd-82c2-c5a5b832a60b",
      "name": "Google Gemini Chat Model4",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        1040,
        320
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "mxSrb9foZs6csxRQ",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1434531213942591548",
          "mode": "list",
          "cachedResultName": "Marketコミュニティ",
          "cachedResultUrl": "https://discord.com/channels/1434531213942591548"
        },
        "channelId": {
          "__rl": true,
          "value": "1455118577391898882",
          "mode": "list",
          "cachedResultName": "finance",
          "cachedResultUrl": "https://discord.com/channels/1434531213942591548/1455118577391898882"
        },
        "content": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1328,
        -16
      ],
      "id": "74f215cc-a28a-4ef5-a4da-dc4bbc3ca0cb",
      "name": "Send a message1",
      "webhookId": "21a0db89-2f83-46b2-ae40-1efc1332d717",
      "credentials": {
        "discordBotApi": {
          "id": "4q8X1aw6EtsILWZn",
          "name": "Discord Bot account 2"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 3
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "ea9cd2c4-3670-402e-855d-04325ccf09ba",
      "name": "Limit"
    },
    {
      "parameters": {
        "url": "=https://api.elsevier.com/content/article/pii/{{ $json.guid.split('/').pop().split('?')[0] }}?apiKey=566fbcc4372961f4529060ae4854d83e&httpAccept=application/json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        640,
        112
      ],
      "id": "cc0ecb78-83af-42a7-8bdf-455e785ee780",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8c6010b7-384c-49d0-94ee-4a835e7c35af",
              "name": "chatInput",
              "type": "string",
              "value": "={{\n`あなたは金融データサイエンスの専門家です。\nElsevier APIから取得した論文データを元に、Discord投稿用の日本語要約を作成してください。\n\n【入力データ】\nTitle: ${$json[\"full-text-retrieval-response\"].coredata[\"dc:title\"]}\nAuthor: ${JSON.stringify($json[\"full-text-retrieval-response\"].coredata[\"dc:creator\"])}\nAbstract: ${$json[\"full-text-retrieval-response\"].coredata[\"dc:description\"]}\nLink: ${$('Loop Over Items').item.json.link}\n\n【指示】\n1. **論文名**: 「###」を使って小見出しサイズ（H3）にしてください。\n2. **著者**: JSON配列から名前を抽出し、カンマ区切りで列挙してください。\n3. **要約**: 引用記号（>）は使わずにプレーンテキストで要約してください。\n4. **リンク**: 最後に必ず論文へのリンクを含めてください。\n\n【出力フォーマット】\n\n### ${$json[\"full-text-retrieval-response\"].coredata[\"dc:title\"]}\n**著者:** (ここに抽出した著者名)\n**Link:** ${$('Loop Over Items').item.json.link}\n\n(ここに要約文)`\n}}"
            }
          ]
        },
        "options": {}
      },
      "id": "249c7eec-2e7b-49d2-a337-02b8f28a9e93",
      "name": "AI Promt",
      "type": "n8n-nodes-base.set",
      "position": [
        832,
        112
      ],
      "typeVersion": 3.4
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Analysis1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Analysis1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        []
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Promt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Promt": {
      "main": [
        [
          {
            "node": "AI Analysis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "86eef3d3bdd911f4095d8faf9288197f3129974b0925c1b4e2b29e735531c903"
  }
}
